/** Overall settings by Roshelle **/
html {
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
}

body, html {
	height: 100%;
	margin: 0;
  font-family: Lato, Helvetica, Arial, sans-serif;
}

/***** H and P by Roshelle *****/
h1 {
	display: block;
	color:white;
	font-size: 50px;
  font-family: "Open Sans";
	font-weight: normal;
	padding-bottom: 35px;
	margin-top: 0px;
	margin-bottom: 0px;
}

h2 {
	color:white;
	display: block;
	font-size: 25px;
	font-weight: normal;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

h3 {
	color: #1a4980;
	display: block;
	font-size: 30px;
	font-weight: normal;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-top: 0px;
	margin-bottom: 5px;
}

h4 {
  color: #6d6b6b;
  font-size: 27px;
  text-align: center;
  letter-spacing: 1px;

} 



p {
	color: #333333;
	display: block;
	font-size: 16px;
	font-weight: 400;
	padding: 0px;
	margin: 0px;
}


/************ MOBILE NAV BAR *************>
/* Mobile Nav CSS From W3Schools Owned by Michael Rose  */
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  /* Modified color and opacity */
  background-color: rgba(1, 37, 71, 0.95);
  overflow-y: hidden;
  /* modified speed */
  transition: 0.3s;
  z-index: 1000001;
  }
  
/* Modified content position */
.overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
/* Modified padding and font size and color */
.overlay a {
  padding: 5px;
  text-decoration: none;
  font-size: 18px;
  color: #57f6fc;
  display: block;
  transition: 0.3s;
}
  
.overlay a:hover, .overlay a:focus {
  color: #9affd5;
}

.overlay .closebtn {
  position: absolute;
  top: 10px;
  right: 35px;
  font-size: 60px;
}

#mobileNav{
  width: 100%;
  text-align: right;
  padding-right: 25px;
  position: Fixed;
  background-color: #fff;
  display: block;
  z-index: 1000000; /* Mike Wagner added so that hamburger menu apears above header image*/
}

#hamburger{
  margin-right: 30px;
  font-size:50px;
  cursor: pointer;
}

.logomobile {
  float: left;
  cursor: pointer;
  height: 40px;
  width: 150px;
  margin-top: 20px;
  margin-left: 50px;
}

ul {
  padding: 0px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
}
/* End of Mobile Nav CSS */
/* Media Query to switch nav bars */

@media only screen and (min-width: 996px){
  #mobileNav {display: none}
  #desktopNav {
    width: 100%;
    padding-right: 25px;
    position: Fixed;
    background-color: #fff;
    display: block;
    z-index: 1000000;}
}
@media only screen and (max-width: 995px){
  #mobileNav {display: block}
  #desktopNav {display: none}
}


/********* DESKTOP NAV BAR design by Roshelle *************/
.bg-light{
  background-color: white!important;
}

.navbar-brand {
  padding-left: 11%;
  padding-right: 5%;
  }
  
.logo{
   width: 25%;
  }

.navbar-light .navbar-nav .nav-link {
  color: #42474b; 
}

/*************** HEADER *************/
/* Hero section and text for header owned by Michael Wagner, source from https://foundation.zurb.com/building-blocks/blocks/responsive-hero-section.html */
/* Found additional support from https://stackoverflow.com/questions/45529286/how-to-change-hero-image-based-on-html-page */
.hero-image {
  background-color: #cccccc;
  height: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
header#index-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../Photos/City.jpg"); /* Background image retrieved from Pawel Nolbert on Unsplash */
}
header#values-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../Photos/helena-lopes-PGnqT0rXWLs-unsplash.png"); /*Photo by Helena Lopes on Unsplash */
}
header#teampage-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../Photos/you-x-ventures-Oalh2MojUuk-unsplash.jpg"); /*Photo by Helena Lopes on Unsplash */
}
div#services-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../Photos/earthfromspace.jpg"); /*Photo from Google Maps */
}
header#pastprojects-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../Photos/you-x-ventures-Oalh2MojUuk-unsplash.jpg"); /*Photo by Helena Lopes on Unsplash */
}
.hero-section-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size:50px;
}
.hero-section-text h1 {
  font-size:60px;
}



/** Hero image for contact page: https://www.ostraining.com/blog/coding/responsive-google-maps/ by Roshelle **/
.hero-image-contact{
  overflow:hidden;
  padding-bottom:600px;
  position:relative;
  height:0;
  width: 100vw;
}


#google-map {
  left: 0;
  top: 0;
  width  : 100vw;
  height : 380px;
  position: absolute;
}

#google-map iframe {
  width: 100%;
  opacity: 0.55;
}


#transparentoverlay {
  width  : 100%;
  height : 600px;
  position: absolute;
  background: linear-gradient(
    rgba(0,0,0,1), 
    rgba(0,0,0,1))
  ;
}


.contact-headertext {
  text-align: center;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:50px;
  z-index: 1000;

}
/** End of Contact us hero image by Roshelle **/


/*Main Content Blocks CSS. By Alison Orlandi */
.roweven, .rowodd {
	color: #333333;
	line-height: 1.4;
}
/* Modified from w3 Schools */
.columnleft {
  float: left;
  width: 45%;
  padding-left: 12%;
  padding-right: 1%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.columnright {
  float: left;
  width: 45%;
  padding-right:1%;
  padding-left: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.rowodd::after, .roweven::after{
  content: "";
  clear: both;
  display: table;
}
.rowodd{
  background-color: whitesmoke;
}

/* Shadow box modified from w3 schools.  */
.sevenbyfive {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Footer CSS modified from w3 schools. */
 .logofooter{
	width: 20%;
	display: block;
	margin-left: auto;
	margin-right: auto;
 }

 /* End of main content blocks CSS. Coded by Alison Orlandi */

/* Responsive design for main content owned by Alison Orlandi */
@media screen and (max-width: 800px) {
  .columnleft, .columnright {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom:5%;
  }

  .sevenbyfive{
    width: 100%;
  }
  .logofooter{
    width: 80%;
  }
  #Sidebar {
    width: 100% !important;
    padding: 5%;
  }
  

}
/* End of Main Content Blocks CSS*/

/** FOOTER **/
footer p, footer h3{
  text-align: center;
}

/* Project Grid CSS */
#pinBoot {
  margin-top: 30px;
  position: relative;
  max-width: 100%;
  width: 100%;
}
.white-panel {
  position: absolute;
  background: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  padding: 10px;
}
.white-panel h1 {
  font-size: 1em;
}
.white-panel h1 a {
  color: #A92733;
}
.white-panel:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  margin-top: -5px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
img {
  width: 100%;
  max-width: 100%;
  height: auto;
}







/* CSS for Service Pages, By Alison Orlandi. Modified from: LGL.com */
#Sidebar {
  width: 33.333333%;
  float: right;
  padding-left: 45px;
  display: block;
  box-sizing: border-box;
  line-height: 1.9;
  content: "";
  display: table;
}
.box-wrap {
  background: #1a4980 none repeat scroll 0 0;
  border: none;
  color: #cccccc;
  padding: 32px;
}
.navcontent{
  max-width: 1040px;
}
.item{
  border-bottom: 1px solid #cccccc;
  position: relative;
  line-height: 1.6;
  padding: 7px 0;
  text-align: center;
  list-style-type: none;
  
}
#navheader{
  text-align: center;
}

.highlight {
  background-color: white;
  text-align: center;
  padding: 30px;
}
#highlight {
  color: #1a4980;
}

.padding {
  padding-top: 5%;
  padding-bottom: 5%

}



/*Services NavBar link CSS. By Alison Orlandi, modified from: https://www.w3schools.com/css/css_link.asp*/
.item a:link {
  color: white; 
  text-decoration: none;
}
.item a:active, .item a:hover {
  color: #cccccc;
  text-decoration: underline;
}

.item a:visited {
  color: #cccccc
}




/** Start of Contact Us CSS by Roshelle **/
/** Largely inspired by https://codepen.io/bobbykorec/pen/qOGbyr?editors=1100 **/

#contact {
  width: 100%;
  height: 100vh;
  background-color: white;
  overflow: hidden;
  padding-bottom: 200px;
  margin-bottom: 80px;
}

#section-header1 {
  font-weight: 700;
  margin: 0 auto;
  padding-top: 6%;
  margin-bottom: 0.5%;
}

#section-header2 {
  font-weight: 300;
  padding-bottom: 2%;
}

.contact-wrapper {
  margin: 0 auto;
  padding-top: 20px;
  position: relative;
  max-width: 800px;
}

/* Begin Left Contact Page */
.col-sm-12 {
  padding:0;
}


.form-horizontal {
  float: left;
  max-width: 400px;
  font-family: 'Lato';
  font-weight: 400;
}

.form-control, textarea {
  max-width: 400px;
  background-color: white;
  color: #6d6b6b;
  letter-spacing: 1px;
  font-size: 12px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.button {
  width: 400px;
  height: 34px;
  transition: all .2s ease-in-out;
  padding-right: 20px;
}

.send-text {
  display: block;
  font: 300 14px 'Lato', sans-serif;
  letter-spacing: 2px;
  padding-right: 15px;
}

.button:hover {
  transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
  float: right;
  margin-top: 5px;
}

/* Contact Us- Location, Phone, Email Section */
.contact-hr {
  border-color: darkgray;
}

.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: #6d6b6b;
}

.place {
  margin-left: 40px;
}

.phone {
  margin-left: 40px;
}

.gmail {
  margin-left: 40px;
}

.contact-text a {
  color: #6d6b6b;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #0072bc;
  text-decoration: none;
}


/* Contact us - Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 2.3rem;
  text-align: center;
  width: 100%;
  padding-left: 35px;
}

.social-media-list li a {
  color: white;
}

.social-media-list li {
  position: relative; 
  top: 0;
  left: -20px;
  display: inline-block;
  height: 70px;
  width: 70px;
  margin: 10px auto;
  line-height: 70px;
  border-radius: 50%;
  color: #fff;
  background-color: lightgray;
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

/* A big thank you to Mike Rose for fixing the links to the icons!! Previously 
the design prevented the links from showing up/working - Rosh */
.social-media-list li:hover {
  background-color: rgb(189, 185, 185); 
  box-shadow: 0 0 0 4px white, 0 0 0 5px #0087c9;
}

.social-media-list li:hover {
  background-color: rgb(189, 185, 185); 
}

.social-media-list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: #0087c9;
}

.copyright {
  font-size: 12px;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: rgba(255,255,255,.8); ;
}

.btn-primary {
  background-color: #0087c9;
  border-color: #0087c9;
}

/* Responsive Contact us form - Begin Media Queries*/
@media screen and (max-width: 760px) {
    #contact {
        height: 1000px;
    }
  .section-header {
    font-size: 65px;
  }
  .direct-contact-container, .form-horizontal {
    float: none;
    margin: 10px auto;
  }  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }    
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {
  #contact {
    height: 1200px;
    }
  .section-header{
    font-size: 50px;
  }
  .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
  }  
  .form-control, textarea {
    max-width: 340px;
    margin: 0 auto;
  }
  
  .name, .email, textarea {
    width: 280px;
  } 
  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }  
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
  
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}


/** Team page by Garrett Hogan */
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}